body {
    background-color: #eeeeff;
    color: #112233;
}

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
}

.wavy {
    text-decoration: wavy underline;
}

#copy {
    color: #6699CC;
}
