@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Merriweather+Sans:wght@800&display=swap');

body {
  background: rgb(45,45,45);
  background: radial-gradient(circle, rgb(50,50,50) 0%, rgb(35,35,35) 85%);
}

h1 {
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2.43vw;
  text-shadow: 0 0.4166vw rgb(160,160,160), 0 0.2778vw rgb(160,160,160), 0 0.1389vw rgb(160,160,160), 0 1.388vw 1.388vw rgb(20,20,20);
  margin-bottom: 2.778vw;
}

div {
  left: 50%;
  top: 45%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 45%;
}

a {
  color: rgb(200,200,200);
  display: block;
  text-decoration: none;
  margin-bottom: 0.6944vw;
  position: relative;
  left: 0.9vw;
  transition-duration: 0.35s;
  transition-property: left;
}

a:hover {
  color: white;
  left: 1.3vw;
  text-decoration: underline;
}

a, p {
  font-family: 'Courier Prime', monospace;
  font-size: 1.388vw;
}

p:not(#award) {
  color: white;
  margin: 2.7vw 0 1.1vw 0;
  text-shadow: 0.03vw 0 white;
}

#award {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 1.388vw;
  font-size: 0.75vw;
  color: rgb(160,160,160);
  text-align: center;
  width: 90vw;
}
