@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Merriweather+Sans:wght@800&display=swap');

body {
  background: rgb(45,45,45);
  background: radial-gradient(circle, rgb(50,50,50) 0%, rgb(35,35,35) 85%);
}

h1 {
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 35px;
  text-shadow: 0 6px rgb(160,160,160), 0 4px rgb(160,160,160), 0 2px rgb(160,160,160), 0 20px 20px rgb(20,20,20);
  margin-bottom: 40px;
}

div {
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 40%;
}

a {
  color: rgb(200,200,200);
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Courier Prime', monospace;
  margin-bottom: 10px;
}

a:hover {
  color: white;
  text-decoration: underline;
}
