@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');

:root {
    /*--accent: rgb(26, 213, 238);*/
    /*--accent: #FFE576;*/
    --accent: #FFF596;
    --darkest: #111;
    --dark-gray: #222;
    --gray: #858585;
    --light-gray: #bbb;

    --bold: 800;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--darkest);
    color: var(--light-gray);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
}

/* Structure */

main > section {
    min-height: 500px;
    padding: 20vh 16vw;
    box-sizing: border-box;
}

.subpage-section { padding: 10vh 16vw; }

.intro-section { 
    padding-top: 20vh;
    min-height: 100vh;
}
.hero-section { height: 100vh; }

.two-columns {
    display: flex;
    gap: 35px;
}

.two-columns div, .two-columns figcaption { width: 50%; }
figure.two-columns { margin: 30px 0; }

.two-rows {
    display: grid;
    gap: 35px;
    grid-template: 1fr 1fr / 1fr;
}

.two-rows div, .two-rows figcaption {
    width: 100%;
    overflow: hidden;
}

.grid {
    display: grid;
    gap: 40px 60px;
}

.achievements-grid { grid-template: 1fr 1fr / 1fr 1fr; }
.clubs-grid { grid-template: 1fr 1fr 1fr / 1fr 1fr; }
.contact-grid { justify-content: space-between; }

/* Main Content */

h1, h2, h3 { 
    margin: 0;
    font-weight: var(--bold);
    margin-bottom: 20px;
}

h1, h2 { color: var(--accent); }

h3 { 
    color: white; 
    font-size: 20px;
}

.clubs-grid h3, figcaption header h3 {
    margin-bottom: 0;
}
.clubs-grid header p, figcaption header p {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: var(--bold);
    color: var(--gray);
}

h1 { 
    font-size: 48px; 
}

h2 { 
    font-size: 36px; 
    margin-bottom: 40px;
}

p {
    margin-top: 0;
    color: var(--light-gray);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	display: block;
    border-radius: 12px;
}

.portrait {
    object-position: 48% 20%;
}

.button, .wide-button {
    padding: 15px 40px;
    background-color: var(--darkest);
    color: var(--darkest);
    text-decoration: none;
    font-weight: var(--bold);
    display: inline-block;
    margin-top: 15px;
    border-radius: 12px;
    transition-duration: 0.2s;
    border: 4px solid var(--accent);
    color: var(--accent);
}

.button:hover, .wide-button:hover {
    color: var(--darkest);
    background-color: var(--accent);
}

.wide-button { 
    display: block;
    margin: 0;
}

.hr {
    width: 80vw;
    border-bottom: 4px solid var(--dark-gray);
    margin: auto;
}

.hr-mini {
    width: 20vw;
    border-bottom: 4px solid var(--dark-gray);
    margin: auto;
}

.large-heading {
    text-align: center;
    margin-bottom: 60px;
}

mark {
    background: none;
    color: white; /*(var(--light-gray);*/
    font-weight: var(--bold);
}

/* Header */

#upper-header {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    background-color: var(--darkest);
    border-bottom: 4px solid var(--dark-gray);
}

#nav-title, #upper-header nav { 
    max-width: 50%;
    margin: 0 50px;
}

#nav-title {
    font-weight: var(--bold);
    font-size: 24px;
    line-height: 1;
    color: white;
}

#upper-header a {
    margin: 0;
    margin-left: 40px;
    color: var(--light-gray);
    text-decoration: none;
}

#upper-header a:hover {
    color: white;
    text-decoration: underline;
}

/* Footer */

footer {
    margin: 0;
    background-color: var(--dark-gray);
    color: white;
    padding: 45px 9vw;
}

footer h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}

footer address, footer address a {
    font-style: normal;
    text-decoration: none;
    color: var(--light-gray);
}
footer address a { margin-left: 1em; }

footer address a:hover { color: var(--accent); }

#socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#socials li {
    float: right;
    padding-left: 30px;
}

#socials img {
    width: 50px;
    height: 50px;
    border-radius: 0;
    object-fit: contain;
}

/* Screen size adjustments */

@media only screen and (max-width: 700px) {
    .achievements-grid { grid-template: 1fr 1fr 1fr 1fr / 1fr; }
    .clubs-grid { grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr; }

    .two-columns:not(.hero-section) { flex-direction: column; }
    .two-columns div, .two-columns figcaption { width: 100%; }

    #socials li {
        float: left;
        padding-right: 30px;
        padding-left: 0;
    }

    main > section {
        padding: 10vh 8vw;
    }
    .subpage-section { padding: 5vh 8vw; }
    .intro-section { padding-top: 20vh; }
}