:root {
    --blue: #359;
    --light-blue: #def;
    --dark-gray: #181818;
    --gray: #555;
    --light-gray: #ccc;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--dark-gray);
    color: var(--light-gray);
}

/* Structure */

section {
    min-height: 500px;
    padding: 100px 16vw;
    box-sizing: border-box;
}

.intro-section {
    height: 100vh;
}

.two-columns {
    display: flex;
    gap: 35px;
}

.two-columns div {
    width: 50%;
}

.two-rows {
    display: grid;
    gap: 35px;
    grid-template: 1fr 1fr / 1fr;
}

.two-rows div {
    width: 100%;
    overflow: hidden;
}

/* Main Content */

h1, h2, h3 { 
    margin: 0;
    color: white; 
}

h1 { font-size: 48px; }

h2 { 
    font-size: 36px; 
    margin-bottom: 20px;
}

main p {
    color: var(--light-gray);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	display: block;
}

.button {
    padding: 10px 30px;
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border: 4px solid var(--blue);
}

.button:hover {
    
}

.hr {
    width: 80vw;
    border-bottom: 4px solid var(--gray);
    margin: auto;
}

.experience-item {
    margin-bottom: 30px;
}

/* Header */

header {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    background-color: var(--blue);
}

    /*  .scrolled {} */

header p, header nav { 
    max-width: 50%;
    margin: 0 50px;
}

header p {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
}

header nav a {
    margin: 0;
    margin-left: 40px;
    color: var(--light-blue);
    text-decoration: none;
}

header nav a:hover {
    color: white;
    text-decoration: underline;
}

/* Footer */

footer {
    margin: 0;
    background-color: var(--blue);
    height: 150px;
    color: white;
    padding: 45px 9vw;
}

footer p {
    margin: 0;
}