@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');

:root {
    --blue: rgb(26, 213, 238);
    --dark-blue: rgb(5, 55, 106);
    --light-blue: #def;
    --darkest: #111;
    --dark-gray: #181818;
    --gray: #555;
    --light-gray: #bbb;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--darkest);
    color: var(--light-gray);
    font-family: 'Nunito Sans', serif;
    font-weight: 200;
}

/* Structure */

section {
    min-height: 500px;
    padding: 20vh 16vw;
    box-sizing: border-box;
}

.intro-section {
    height: 100vh;
}

.two-columns {
    display: flex;
    gap: 35px;
}

.two-columns div {
    width: 50%;
}

.two-rows {
    display: grid;
    gap: 35px;
    grid-template: 1fr 1fr / 1fr;
}

.two-rows div {
    width: 100%;
    overflow: hidden;
}

/* Main Content */

h1, h2, h3 { 
    margin: 0;
    color: var(--blue); 
    font-weight: bold;
}

h1 { font-size: 48px; }

h2 { 
    font-size: 36px; 
    margin-bottom: 20px;
}

p {
    color: var(--light-gray);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	display: block;
}

.button {
    padding: 15px 40px;
    background-color: var(--darkest);
    color: var(--darkest);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    border-radius: 12px;
    transition-duration: 0.1s;
    border: 4px solid var(--blue);
    color: var(--blue);
}

.button:hover {
    color: var(--darkest);
    background-color: var(--blue);
}

.hr {
    width: 80vw;
    border-bottom: 4px solid var(--dark-gray);
    margin: auto;
}

.experience-item {
    margin-bottom: 30px;
}

/* Header */

header {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    background-color: var(--darkest);
    border-bottom: 4px solid var(--dark-gray);
}

    /*  .scrolled {} */

#nav-title, header nav { 
    max-width: 50%;
    margin: 0 50px;
}

#nav-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    color: white;
}

header a {
    margin: 0;
    margin-left: 40px;
    color: var(--light-gray);
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: underline;
}

/* Footer */

footer {
    margin: 0;
    background-color: var(--dark-gray);
    height: 150px;
    color: white;
    padding: 45px 9vw;
}

footer h1 {
    color: white;
    font-size: 24px;
}

footer p {
    margin: 0;
}