@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
    --font: 'Inconsolata', 'Courier New', monospace;
}

body {
    margin: 0;
    padding: 20px;
    background-color: #1e1e1e;
    font-family: var(--font);
    color: #bbb;
    height: 100vh;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.location{
    background-color:aqua;
    color: black;
    border-radius:5px;
}

/* Terminal text */
#terminal, .ascii-art {
    line-height: 1.2;
    font-size: 14px;
    font-family: var(--font);
}
.ascii-art { color: white; }

p { margin: 20px 0; }

#terminal {
    height: 80%;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    border: 2px solid lime;
    padding: 20px;
    background-color: #000;
    overflow: hidden;
}

#output {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#input-line {
    display: flex;
    align-items: center;
    border-top: 1px solid lime;
    padding-top: 10px;
}

.prompt {
    color: lime;
    margin-right: 10px;
    font-weight: bold;
}

#user-input {
    flex: 1;
    background: transparent;
    border: none;
    color: lime;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    outline: none;
}

#user-input::placeholder {
    color: #0a0;
}

#input-complaint {
    color:red;
}