@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Ubuntu&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --swampy: rgb(80,100,0);
}

#introDiv {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}
  
#introImg {
  position: absolute;
  height: 100vh;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#introStuff {
  background: rgba(0,0,0, 0.7);
  background: radial-gradient(circle, rgba(0,0,0, 0.7) 0%, rgba(0,0,0,0.8) 80%, rgba(0,0,0, 0.9) 100%);
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#introStuff div {
  top: 50vh;
  left: 50vw;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

#introStuff h1 {
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 65px;
  font-family: 'Patua One', serif;
}

#introStuff button {
  display: block;
  background: var(--swampy);
  padding: 15px 60px;
  color: white;
  border: none;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 10px black, inset 0 0 20px rgb(48,60,0);
  font-size: 18px;
}

#content {
  top: 100vh;
  left: 0;
  position: absolute;
  width: 100vw;
  min-height: 100px;
}

img {
  background: rgb(130,130,130);
}

.contentLeft, .contentRight {
  height: 300px;
  border: 1px solid red;
  width: calc(100vw - 120px);
  margin: 60px;
  position: relative;
}

.contentLeft img {
  top: 0;
  left: 0;
  position: absolute;
  height: 300px;
  width: 500px;
}

.contentLeft p {
  top: 0;
  right: 0;
  position: absolute;
  font-size: 24px;
  margin: 0;
  width: calc(100vw - 680px);
}

.contentHeader {
  font-size: 40px;
  display: block;
  margin-bottom: 20px;
}

.contentLeft a.button {
  bottom: 0;
  left: 680px;
  position: absolute;
  text-decoration: none;
  color: white;
  background: var(--swampy);
  padding: 15px 30px;
  border-radius: 10px;
}
