@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
  font-family: sans-serif;
}

#introImg {
  position: absolute;
  height: 100vh;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#introStuff {
  background: rgba(0,0,0, 0.7);
  background: radial-gradient(circle, rgba(0,0,0, 0.7) 0%, rgba(0,0,0,0.8) 80%, rgba(0,0,0, 0.9) 100%);
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#introStuff div {
  top: 50vh;
  left: 50vw;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

#introStuff h1 {
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 65px;
  font-family: 'Patua One', sans-serif;
}

#introStuff button {
  display: block;
  background: rgb(80,100,0);
  padding: 20px 55px;
  color: white;
  border: none;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 10px black;
  font-size: 18px;
}
